*{
    margin: 0;
    padding: 0;
    background-color: rgb(250, 215, 234)
}
.top{
    width: 148%;
    padding: 30px;
    border: 5px solid rgb(208, 160, 4);
    background-color: rgb(208, 160, 4);
    margin: 0;
}
.main{
    display: flex;
    width: 100%;
    margin-top: 30px;
}
.left{
    width: 75%;
    height: 45rem;
    margin-right: 40px;
    margin-left: 40px;
}
.top-l{
    width: 98.5%;
    border: 5px solid rgb(208, 160, 4);
    background-color: rgb(208, 160, 4);
    height: 1rem;
}
.left-l{
    table-layout: 10rem 10rem 10rem 20rem;
    margin-top: 20px;
}
.right-l{
    border: 5px solid rgb(208, 160, 4);
    background-color: rgb(208, 160, 4);
    width: 39rem;
    height: 41rem;
    margin-top: 15px;
    margin-left: 40px;

}
.t-box{
    background-color:rgb(208, 160, 4);
    border: 5px solid rgb(208, 160, 4);
    width: 10rem;
    height: 2rem;
    margin-bottom: 20px;

}
.box{
    background-color:rgb(208, 160, 4);
    border: 5px solid rgb(208, 160, 4);
    width: 10rem;
    height: 10rem;
    margin-right: 26px;
}

.bottom-l{
    background-color:rgb(208, 160, 4);
    border: 5px solid rgb(208, 160, 4);
    width: 34.5rem;
    height: 10rem;
    margin-bottom: 20px;
    margin-top: 15px;
}
.min{
    background-color:rgb(208, 160, 4);
    border: 5px solid rgb(208, 160, 4);
    width: 30rem;
    height: 30rem;

}

.right{
    width: 30%;
    height: 45rem;
    margin-right: 60px;
}.img{
    width: 33rem;
    border: 5px solid rgb(208, 160, 4);
    background-color:rgb(208, 160, 4);
    height: 19rem;
    margin-bottom: 10px;
}
